
<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="">
<!--<![endif]-->
<head>
    <% include ../partials/head %> 
    <style>
        .logButton1 {
            color: #fff;
        }

        .logButton1:hover {
            color: #0b1539;
        }

        .help-block {
            font-weight: 400;
            color: red;
        }
        .parsley-errors-list.filled {
            color: red;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="/assets/twn/parsley/parsley.css">
</head>
<body>

    <% include ../partials/loginMenu %> 

<div class="notificaitionDetail" id="notificationDetails">
</div>

    
        
        
            
        
    


    <div class="bck">
        
        <div class="logInBack">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="logBrand">
                        <h4>Login</h4>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <form role="form" id="form" method="post" action=""
                          data-parsley-validate="" class="logPage">
                        <input type="hidden" name="_token" value="odhOYt4uxtGSeijkgZ13aanUqAAqoqPd4rW7uJIC">                        <div class="form-group ">
                            <input type="text" name="user_name" class="form-control" id="username"
                                   placeholder="Your User Name" value=""
                                   data-parsley-pattern="^(?:[A-Za-z]+[ -])*[A-Za-z]+$" data-parsley-length="[3, 30]"
                                   required>
                                                    </div>
                        <div class="form-group ">
                            <input type="password" name="password" class="form-control" id="pwd"
                                   placeholder="Enter password" data-parsley-minlength="6"
                                   required/>
                                                    </div>
                      
                        <div class="form-group">
                            <center>
                                <button type="submit" name="login" id="login" class="btn logButton1 center">Login
                                    <i class="fas fa-sign-in-alt" style="padding-left: 10px; "></i>
                                </button>
                                
                                
                                
                            </center>
                          
                            <hr>
                        </div>
                        <div class="form-group already">
                            <span>Haven't an account ?</span>
                            <a class="btn logButton1" href="http://localhost:3001/customer/registration">&nbsp;REGISTER<i
                                        class="fas fa-clipboard-check" style="padding-left: 10px; "></i></a>
                        </div>
                        <div class="clear"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
<br/><br/><br/><br/><br/>
    <% include ../partials/footer %> 





    <script src="/assets/twn/parsley/parsley.min.js"></script>
    <script>
        var u= localStorage.getItem('user');
if(u){
   location.replace('http://localhost:3001/customer/dashboard');
}
        $(function () {
            let base_url = 'http://localhost:3000/';
            $('#form').submit(function (event) {
                event.preventDefault();
                let user = {
                     username: $("#username").val(),
                     password: $("#pwd").val()
  
        };

   


        
        $.ajax({
            type: 'POST',
            url: base_url + 'users/login',
            data: user,
            success: function (user) {
                if(user.admin==false){
                    alert("welcome customer");
                    localStorage.setItem('user', user._id);
                // setCookie('userCookie',user._id,7);
                    window.location.href='http://localhost:3001/customer/dashboard';
                //    location.reload();
                }

                   
     
               
                
            },
            error: function (error) {
                const err=JSON.stringify(error);
                const er=JSON.parse(err);
              alert(er.responseText);

            }
        });
            })

        })
        function setCookie(name,value,days) {
    var expires = "";
    if (days) {
        var date = new Date();
        date.setTime(date.getTime() + (days*24*60*60*1000));
        expires = "; expires=" + date.toUTCString();
    }
    document.cookie = name + "=" + (value || "")  + expires + "; path=/";
}

function getCookie(name) {
    var nameEQ = name + "=";
    var ca = document.cookie.split(';');
    for(var i=0;i < ca.length;i++) {
        var c = ca[i];
        while (c.charAt(0)==' ') c = c.substring(1,c.length);
        if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
    }
    return null;
}
    </script>

</body>
</html>