
<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="">
<!--<![endif]-->
<head>
    <% include partials/head %>  
</head>
<body>
    <% include partials/menu %> 


<div class="notificaitionDetail" id="notificationDetails">
</div>

    
        
        
            
        
    

  
    <!-- bike select -->
    <div class="selectSection animated fadeInDown">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="sloganWeb" data-aos="fade-down">
                        <h1><img src="/assets/twn/images/5.png"></br>At Your Door Step For Two Wheeler Servicing</h1>
                        <p>
                            Service at your home or office . 7 days a week . Fair and transparent pricing
                        </p>
                    </div>
            

                </div>
            </div>
        </div>
    </div>
    <!-- brand slide -->
    <div class="owlSlideHm animated fadeInUp" data-aos="fade-up" aos-duration="500">
        <div class="container-fluid">
            <div class="row">

                <div class="brandLogoSlide owl-carousel owl-theme">
                    <div class="item">
                        <div class="bdImg"><img src="/assets/twn/frontend/brandLogo/yam.jpg" alt="Yamaha">
                        </div>
                    </div>
                    <div class="item">
                        <div class="bdImg"><img src="/assets/twn/frontend/brandLogo/tvs.jpg" alt="TVS">
                        </div>
                    </div>
                    <div class="item">
                        <div class="bdImg"><img src="/assets/twn/frontend/brandLogo/suzu.png"
                                                alt="Suzuki"></div>
                    </div>
                    <div class="item">
                        <div class="bdImg"><img src="/assets/twn/frontend/brandLogo/bajaj.png"
                                                alt="Bajaj"></div>
                    </div>
                    <div class="item">
                        <div class="bdImg"><img src="/assets/twn/frontend/brandLogo/honda.png"
                                                alt="Honda"></div>
                    </div>
                    <div class="item">
                        <div class="bdImg"><img src="/assets/twn/frontend/brandLogo/ktm.png" alt="KTM">
                        </div>
                    </div>
                    <div class="item">
                        <div class="bdImg"><img src="/assets/twn/frontend/brandLogo/aprila.png"
                                                alt="Aprila"></div>
                    </div>
                    <div class="item">
                        <div class="bdImg"><img src="/assets/twn/frontend/brandLogo/vespa.png"
                                                alt="Vespa"></div>
                    </div>
                    <div class="item">
                        <div class="bdImg"><img src="/assets/twn/frontend/brandLogo/beneli.jpg"
                                                alt="Beneli"></div>
                    </div>
                    <div class="item">
                        <div class="bdImg"><img src="/assets/twn/frontend/brandLogo/cross.jpg"
                                                alt="CrossFire"></div>
                    </div>
                    <div class="item">
                        <div class="bdImg"><img src="/assets/twn/frontend/brandLogo/ducati.png"
                                                alt="Ducati" class="w-85"></div>
                    </div>
                    <div class="item">
                        <div class="bdImg"><img src="/assets/twn/frontend/brandLogo/hartford.png"
                                                alt="HartFord"></div>
                    </div>
                    <div class="item">
                        <div class="bdImg"><img src="/assets/twn/frontend/brandLogo/hero.png" alt="Hero">
                        </div>
                    </div>
                    <div class="item">
                        <div class="bdImg"><img src="/assets/twn/frontend/brandLogo/royal.png"
                                                alt="RoyalEnfield"></div>
                    </div>
                    <div class="item">
                        <div class="bdImg"><img src="/assets/twn/frontend/brandLogo/scomadi.png"
                                                alt="Scomadi" class="w-75"></div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="clear"></div>
 
    <!-- service now -->
    <div class="backCoverTime">
        <div class="coverBl">
            <div class="container" data-aos="fade-up">
                <div class="row">
                    <div class="col-lg-12">
                        <h5>Not having time to do the stuff ?</h5>
                        <h6>We love helping you</h6>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- service offer -->
    <div class="tserviceOffer">
        <!-- tservice -->
        <div class="tService2" data-aos="fade-up">
            <div class="container">
                <h3>Why MotoDock ?</h3>
                <div class="row tSerRow">
                    <div class="col-lg-3">
                        <div class="tServiceBAck">
                            <div class="tserImg">
                                <img src="/assets/twn/frontend/why/easy.svg" alt="easy">

                            </div>
                            <h4>Easy</h4>
                            <p class="undeLineServ">to use</p>
                            <p class="serviceContain">
                                Okay, you can just register at Moto-Doc and your bike maintenance
                                service is just a click away from you. From towing till delivering a tidy and
                                well-conditioned bike is our concern. Register NOW!!
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="tServiceBAck">
                            <div class="tserImg">
                                <img src="/assets/twn/frontend/why/afford.svg" alt="affordable">

                            </div>
                            <h4>Affordable</h4>
                            <p class="undeLineServ">as you want</p>
                            <p class="serviceContain">
                                Costing will be almost equivalent to what you have been paying and
                                the quality of accessories will be standard and uniform. Don't waste your precious time for bike maintenance, Moto Doc will do it for you.
                            </p>

                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="tServiceBAck">
                            <div class="tserImg">
                                <img src="/assets/twn/frontend/why/for_u.svg" alt="for you">

                            </div>
                            <h4>It's For You</h4>
                            <p class="undeLineServ">to implement</p>
                            <p class="serviceContain">
                                Are you the one who love to ride bikes, travel through bikes for office and tours, is
                                very busy and believe the time is money?
                                Then, Moto-Doc is for you! Cheers for a smooth ride and riders.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="tServiceBAck">
                            <div class="tserImg">
                                <img src="/assets/twn/frontend/why/tick.svg" alt="reliable">

                            </div>
                            <h4>Reliable</h4>
                            <p class="undeLineServ">to trust</p>
                            <p class="serviceContain">
                                We understand the importance of genuine parts of your engine.
                                Our staffs will ensure that genuine spare parts have been fitted in your bike
                                and deliver it to your doorstep.
                                It is 100% trustworthy and reliable.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container" data-aos="fade-up">
            <h3>Our Services</h3>
            <div class="row">
                <div class="col-lg-2">
                    <div class="tserviceBackCover">
                        <div class="terviceImg">
                            <img src="/assets/twn/frontend/services/servicing.png" alt="servicing">
                        </div>
                        <h6>Bike / Scooter Servicing</h6>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="tserviceBackCover">
                        <div class="terviceImg">
                            <img src="/assets/twn/frontend/services/emergency.png" alt="emergency">
                        </div>
                        <h6>Emergency Breakdown </h6>
                    </div>

                </div>
                <div class="col-lg-2">
                    <div class="tserviceBackCover">
                        <div class="terviceImg">
                            <img src="/assets/twn/frontend/services/book.png" alt="blue book renew">
                        </div>
                        <h6>Bill Book Inquery</h6>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="tserviceBackCover">
                        <div class="terviceImg">
                            <img src="/assets/twn/frontend/services/spray.png" alt="ceramic coating">
                        </div>
                        <h6>Ceramic Coating</h6>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="tserviceBackCover">
                        <div class="terviceImg">
                            <img src="/assets/twn/frontend/services/helmet.png" alt="helmet cleaning">
                        </div>
                        <h6>Helmet Cleaning </h6>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="tserviceBackCover">
                        <div class="terviceImg">
                            <img src="/assets/twn/frontend/services/shopping.png" alt="shopping">
                        </div>
                        <h6>Bike accessories on shop</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- review -->
    <div class="testMonial" data-aos="fade-up">
        <div class="container">
            <h3>Our Happy Customers</h3>
            <div class="row">
                <div class="rijonSlider owl-carousel owl-theme">
                                                                                        <div class="item">
                            <div class="testBox">
                                <div class="testImg">
                                    <img src="https://thirdwheel.com.np/assets/frontend/images/9576_4588_image.png.jpeg
                                    " alt="Abish Bhandari">

                                </div>
                                <h4>Abish Raj Bhandari</h4>
                                <h5></h5>
                                <p><i class="fas fa-quote-left" style="padding-right: 10px;"></i>
                                    <br>Loved your service. My scooter has never been this smooth. Things I didn’t even know. Also, thank you for having such a nice look at my scooter n fixing anything that felt like it could improve. Rest I really liked it.<br>
                                    <i class="fas fa-quote-right" style="padding-left: 5px; float: right;"></i></p>
                            </div>
                        </div>
                                                                    <div class="item">
                            <div class="testBox">
                                <div class="testImg">
                                    <img src="https://thirdwheel.com.np/assets/frontend/images/4843_profilepic.jpeg
                                    " alt="Ritesh Shrestha">

                                </div>
                                <h4>Ritesh Shrestha</h4>
                                <h5></h5>
                                <p><i class="fas fa-quote-left" style="padding-right: 10px;"></i>
                                    <br>i really like the service and definitely use the service again.. i even have recommended this app to few.. thank you for the great service and all the best to the team.. thank you<br>
                                    <i class="fas fa-quote-right" style="padding-left: 5px; float: right;"></i></p>
                            </div>
                        </div>
                                                                    <div class="item">
                            <div class="testBox">
                                <div class="testImg">
                                    <img src="https://thirdwheel.com.np/assets/frontend/images/8497_niraj_shukla.jpg
                                    " alt="Niraj Shukla">

                                </div>
                                <h4>Niraj Shukla</h4>
                                <h5> Founder, Next Gen Digital</h5>
                                <p><i class="fas fa-quote-left" style="padding-right: 10px;"></i>
                                    <br>A great initiative from Third Wheel. I had my bike serviced even I had free servicing left from the showroom. Believe me, it was great.<br>
                                    <i class="fas fa-quote-right" style="padding-left: 5px; float: right;"></i></p>
                            </div>
                        </div>
                    
                </div>
            </div>
        </div>
    </div>

    <% include partials/footer %> 
    <% include partials/scripts %> 


       


</body>
</html>