<meta charset="utf-8">
<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<meta name="keywords" content="bike, servicing, repair, online bike servicing, online scooter servicing, moterbike servicing, 3rd wheel, three wheel, 3 wheel, bike repair in kathmandu,
thirdwheel, thirdwheelnepal, thirdwheel mobile app, door step bike servicing, online bike servicing in kathmandu, bike maintenance, scooter maintenance,
bike servicing nearby, authorize bike servicing, spare parts in kathmandu, genuine spare parts in kathmandu, bike exchange, scooter Repair in Kathmandu,
bike servicing mobile app, emergency bike servicing, emergency bike repair, emergency bike maintenance, bike insurance, bike insurance in kathmandu, bike servicing in koteshwor,
bike servicing in baneshwor,  bike servicing in tinkune,  bike servicing in lalitpur,  bike servicing in bhaktapur, honda bike servicing, hero bike servicing, bajaj bike servicing,
royal bike servicing, yamaha bike servicing, tvs bike servicing, ktm bike servicing, blue book renew in kathmandu, blue book renew in nepal ">

 <meta name="description" content="Motodoc Two-Wheeler Servicing Center System.  Now it's easy to request for your bike and scooter maintenance online
 with our System.">

<meta name="author" content="IMPACT IT">
<meta property="og:title" content="MotoDoc">
<meta property="og:description" content="Online Bike Servicing in Kathmandu - MotoDoc">
<meta property="og:type" content="website">
<meta property="og:site_name" content="https://MotoDoc.com">
<meta property="og:image" content="https://MotoDoc.com.np/assets/twn/images/logo_big.jpg"/>

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@thirdwheelnepal">
<meta name="twitter:title" content="Online Bike Servicing in Kathmandu - ThirdWheel">
<meta name="twitter:description" content="Online Doorstep Bike servicing in Kathmandu. Easy to Request for your bike and scooter maintenance
online with our ThirdWheel Mobile App within seconds. Register Today for authorized serving in Kathmandu and Save your precious Time For Bike Servicing.">
<meta name="twitter:creator" content="@thirdwheelnepal">
<meta name="twitter:image" content="https://thirdwheel.com.np/assets/twn/images/logo_big.jpg">
<meta name="twitter:domain" content="https://thirdwheel.com.np">

<!-- CSRF Token -->
<meta name="csrf-token" content="YiVjoFc8MKwBhzx5o2dRr33Eqgu4U9Kz2Ka9BPVf">
        <title> MotoDoc || Online Bike/Scooter Servicing  </title>
    <link rel="icon" href="/assets/twn/frontend/images/logo4.PNG">

        <link rel="stylesheet" type="text/css" href="/assets/twn/frontend/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/twn/frontend/css/owl.carousel.min.css">
    <link rel="stylesheet" href="https://thirdwheel.com.np/assets/twn/frontend/css/owl.theme.default.min.css">
    
    <link href="https://fonts.googleapis.com/css?family=Exo+2&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css'>
    <link rel="stylesheet" type="text/css" href="/assets/twn/frontend/css/style.css">
    <link rel="stylesheet" type="text/css" href="/assets/twn/frontend/css/aos.css">
    <link rel="stylesheet" type="text/css" href="/assets/twn/frontend/css/animate.css">
    <script type="text/javascript" src="/assets/twn/frontend/js/jquery-3.2.1.min.js"></script>

    
    
 <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-121053841-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-121053841-1');
</script>
<!-- Facebook Pixel Code -->
<script>
    !function (f, b, e, v, n, t, s) {
        if (f.fbq) return;
        n = f.fbq = function () {
            n.callMethod ?
                n.callMethod.apply(n, arguments) : n.queue.push(arguments)
        };
        if (!f._fbq) f._fbq = n;
        n.push = n;
        n.loaded = !0;
        n.version = '2.0';
        n.queue = [];
        t = b.createElement(e);
        t.async = !0;
        t.src = v;
        s = b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t, s)
    }(window, document, 'script',
        'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '308468786452401');
    fbq('track', 'PageView');
</script>
<noscript>
    <img height="1" width="1" style="display:none"
               src="https://www.facebook.com/tr?id=308468786452401&ev=PageView&noscript=1
               https://www.facebook.com/tr?id=308468786452401&ev=PageView&noscript=1"/>
</noscript>
<!-- End Facebook Pixel Code -->