<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">
            
            <img src="/assets/twn/images/logo2.png" height="50px" ></a>
            <h2 style="color:white">M O T O D O C </h2>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:3001/customer/dashboard">Home</a>
                </li>
                

                                                            
                   
                        
                    <li class="dropdown">
                        <a class="" data-toggle="dropdown" href="#">
                            <img src=" " id="profile_image"
                                 class="img img-responsive img-circle"
                                 width="45" height="45" style="border-radius: 50%; margin-top: -10px;"/>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="http://localhost:3001/customer/dashboard"><i class="fas fa-tachometer-alt"
                                                                             aria-hidden="true"
                                                                             style="padding-right: 7px;"></i> Dashboard</a>
                            </li>
                            <li><a href="http://localhost:3001/customer/profile">
                                    <i class="fa fa-user" aria-hidden="true"
                                       style="padding-right: 7px;"></i>
                                    Profile</a></li>
                                                            <li><a href="http://localhost:3001/customer/password">
                                        <i class="fas fa-key" aria-hidden="true"
                                           style="padding-right: 7px;"></i></i>
                                        Username</a></li>
                                                        <li style="border-top:1px solid #fff;">
                                <a href="" id="logout"><i
                                            class="fas fa-sign-out-alt" aria-hidden="true"
                                            style="padding-right: 7px;"></i>
                                    Logout</a>
                                                         
                            </li>
                        </ul>
                    </li>
                            </ul>
        </div>
    </div>
</nav>

