<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">
            <img src="/assets/twn/images/logo2.png" height="50px" ></a>
            <h2 style="color:white">M O T O D O C </h2>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:3001/">Home</a>
                </li>
                
                                    
                                            <li class="nav-item" style="padding-left: 25px; margin-top: 5px;">
                            <a class="nav-link" href="http://localhost:3001/customer/login"
                               style="border: 2px #ffffff solid; border-radius: 5px;
                                    padding: 5px 10px 5px 10px;">Login</a>
                        </li>
                                                </ul>
        </div>
    </div>
</nav>