<div class="dashDataUp">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2" style="background-color: #fff; position: fixed; height: 100%">
<div class="leftDashData">
    <div class="picInfoName">
        <div class="row">
            <div class="col-lg-4">
                <div class="profileDashBoad">
                    <a href="">
                        <img src="" id="dashboard_image"
                             class="img img-responsive img-circle"
                             width="50px" height="50px" style="border-radius: 50%"/>
                    </a>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="sidePInfo">
                    <a href="">
                        <p class="welcome"><b>Welcome,</b></p>
                        <p class="sideName" id="dash_name"></p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="dashDataMenu">
                    <span class="dashSideImg">
                        <img src="https://thirdwheel.com.np/assets/twn/frontend/services/dashboard.png"
                             >
                    </span>
    <span><a href="http://localhost:3001/customer/dashboard"
             >Dashboard</a></span>
</div>
<div class="dashDataMenu">
                    <span class="dashSideImg">
                        <img src="https://thirdwheel.com.np/assets/twn/frontend/services/servicing_small.png"
                             >
                    </span>
    <span><a href="http://localhost:3001/customer/choose_bike"
             >Servicing</a></span>
</div>



<div class="dashDataMenu">
                    <span class="dashSideImg">
                        <img src="https://thirdwheel.com.np/assets/twn/frontend/services/bike.png"
                              class="active" >
                    </span>
    <span><a href="http://localhost:3001/customer/bike"
              class="" >My Bikes</a></span>
</div>
<div class="dashDataMenu">
                    <span class="dashSideImg">
                        <img src="https://thirdwheel.com.np/assets/twn/frontend/services/bookings.png"
                             >
                    </span>
    <span><a href="http://localhost:3001/customer/booking"
             >My Bookings</a></span>
</div>


</div>  